<template name="contribute">
  <div class="template-contribute">
    <div class="page-header">
      <h1>Contribute to the project</h1>
    </div>



<div class='container-fluid'>
  <div class='row'>
    <div class="col-sm-6" >
      <div class="card">
      <img class="card-img-top" src="img/course_icon.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Add A New Lesson</h2>
        <p class="card-text">You can contribute to this open source project by adding your Courses</p>
        <a href="/contribute/addcourse" class="btn btn-primary">Add Course</a>
      </div>
    </div>
</div>
    <div class="col-sm-6" >
      <div class="card">
      <img class="card-img-top" src="img/question_icon.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Add A New Question</h2>
        <p class="card-text">You can add your questions and contribute to our comunity. There are various categories to match your questions. </p>
        <a href="/contribute/addquestion" class="btn btn-primary">Add Question</a>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<br>
</template>
