.fa-arrow-right{
position:absolute;
  top:50%;
}

.fa-arrow-left{
position:absolute;
  top:50%;
}


.my_list{
  font-size: 20px;
   list-style: none !important;

}

.my_well{
     background-color: #f58e5417 !important;
}
